.App {
  text-align: center;
  margin-top: 50px;
}


.route-link{
  margin: 20px;
  color: blue;
  background-color: rgb(47, 245, 152);
  padding: 20px;
  border-radius: 20px;
  text-decoration: none;
  font-size: larger;
  font-weight: 800;
}
.route-link:hover{
  background-color: darkorange;
}